# Ignore everything in root
/*
# Except these specific files
!/gen.cpp
!/mydebug.h
!/newtest.sh
!/runtests.sh
!/stress.sh
!/validate.sh

# Ignore everything in all subdirectories
/**/*
# Except the algo directory and its contents
!/algo/
!/algo/**