# Ignore everything

# Except these specific files and directories
!/algo/
!/gen.cpp
!/mydebug.h
!/newtest.sh
!/runtests.sh
!/stress.sh
!/validate.sh

# To prevent git from treating directories as empty, we need to explicitly allow their contents
!/algo/**
